includeConfig "$projectDir/params.config"

profiles { 
  pbs {
    conda.enabled = true
    process.conda = true
    conda.useMamba = false
    conda.channels = ['conda-forge', 'bioconda', 'defaults']
    process.executor = 'pbs'
    process.cpus = 1
    process.memory = '4 GB'
    process.time = '1h'
  }
  
  local {
    conda.enabled = true
    process.conda = true
    conda.useMamba = false
    conda.channels = ['conda-forge', 'bioconda', 'defaults']
    process.executor = 'local'
    process.cpus = 1
    process.memory = '4 GB'
  }
}

// Process-specific resource requirements
process {
  withName: ANALYZE_PRIMER_ALIGNMENTS {
    memory = '8 GB'
    time = '30m'
  }
  
  withName: MACS2_CALLPEAK {
    memory = '8 GB'
    time = '1h'
  }
  
  withName: PROCESS_MACS2_PEAKS {
    memory = '4 GB'
    time = '30m'
  }
  
  withName: EXTRACT_CDNA_PRIMERS {
    memory = '4 GB'
    time = '15m'
  }
}


params.outdir = 'results'