profiles { 
  pbs {
    conda.enabled = true
    process.conda = true
    conda.useMamba = false
    conda.channels = ['conda-forge', 'bioconda', 'defaults']
    process.executor = 'pbs'
    process.cpus = 1
    process.memory = '4 GB'
    process.time = '1h'
  }
  
  local {
    conda.enabled = true
    process.conda = true
    conda.useMamba = false
    conda.channels = ['conda-forge', 'bioconda', 'defaults']
    process.executor = 'local'
    process.cpus = 1
    process.memory = '4 GB'
  }
}

// Process-specific resource requirements
process {
  withName: ANALYZE_PRIMER_ALIGNMENTS {
    memory = '8 GB'
    time = '30m'
  }
  
  withName: PICK_PEAKS {
    clusterOptions = '-l nodes=1:ppn=4 -l mem=64gb -l walltime=04:00:00'
  }
  
  withName: EXTRACT_CDNA_PRIMERS {
    memory = '4 GB'
    time = '15m'
  }
}

params.outdir = 'results'